<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item >
    <ion-label color="dark">Nom</ion-label>
    <ion-input color="dark" type="mail" placeholder="Adresse email"></ion-input>
  </ion-item>
  
  <ion-item >
    <ion-label color="dark">Prenom</ion-label>
    <ion-input color="dark" type="mail" placeholder="Adresse email"></ion-input>
  </ion-item>
  
  <ion-item >
    <ion-label color="dark">Email</ion-label>
    <ion-input color="dark" type="mail" placeholder="Adresse email"></ion-input>
  </ion-item>
  <ion-item >
    <ion-label color="dark">Date de naissance </ion-label>
    <ion-input color="dark" type="mail" placeholder="Adresse email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label color="dark">Mot de passe</ion-label>
    <ion-input color="dark" type="password" placeholder="Mot de passe"></ion-input>
  </ion-item>
  <ion-item >
    <ion-label color="dark">Confirmation du mot de passe</ion-label>
    <ion-input color="dark" type="mail" placeholder="Adresse email"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-button color="dark" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
  </ion-item>
  

</ion-content>
