
<ion-header>
  <ion-toolbar color="bluel">
      <ion-title></ion-title>
    <!-- Back icon -->
      <ion-buttons slot="end">

      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  
  
    <ion-card>
      <ion-grid>
          <ion-row class="ion-text-center">
              <ion-col size="4" routerLink="/mens-cycle">
                <ion-icon name="accessibility" color="danger" size="large"></ion-icon>
                  <p>Mens Cycle</p>
              </ion-col>
              <ion-col size="4" routerLink="/ovulation">
                <ion-icon name="bag-add" color="new" size="large"></ion-icon>
                  <p>Ovulation</p>
              </ion-col>
              <ion-col size="4" routerLink="/safe-period">
                <ion-icon name="keypad" color="danger" size="large"></ion-icon>
                  <p>Safe period</p>
              </ion-col>
          </ion-row>
          <ion-row class="ion-text-center">
            <ion-col size="4" routerLink="/pregnancy">
              <ion-icon name="fitness" color="new" size="large"></ion-icon>
                <p>Pregnancy</p>
            </ion-col>
            <ion-col size="4" routerLink="/infertility">
              <ion-icon name="expand" color="danger" size="large"></ion-icon>
                <p>Infertility</p>
            </ion-col>
            <ion-col size="4" routerLink="/contact">
                <ion-icon name="chatbox" color="new" size="large"></ion-icon>
                <p>Contact</p>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  
  
  
  
    <h2>Menstrual Cycle</h2>
    <p>
  Understanding your menstrual cycle  </p>
  
  <ion-img src="https://i.postimg.cc/xd4MVxMq/gettyimages-455466851-512x512.jpg"></ion-img>
  
    <ion-button color="primary" routerLink="/page-name" expand="block">LEARN MORE</ion-button>
  